/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./app/**/*.{js,ts,jsx,tsx}",
    "./components/**/*.{js,ts,jsx,tsx}"
  ],
  theme: {
    extend: {
      colors: {
        neonGreen: "#00ff88",
        neonBlue: "#00d4ff",
        darkBg: "#0d0d0d"
      }
    }
  },
  plugins: []
};
